# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# App runtime outputs
uploads/
results/
outputs/
tmp/
*.log

# Common large scientific files (DON’T COMMIT)
*.xtc
*.trr
*.dcd
*.tpr
*.gro
*.pdb
*.cpt
*.edr
*.ndx
*.csv
*.npy
*.npz

# OS
.DS_Store
